In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import pymongo

In [2]:
# File to Load
file_australia = "data/australia.csv"
file_austria="data/austria.csv"
file_colombia="data/colombia.csv"
file_CR="data/costa_rica.csv"
file_croatia="data/croatia.csv"
file_estonia="data/estonia.csv"
file_finland="data/finland.csv"
file_france="data/france.csv"
file_germany="data/germany.csv"
file_greece="data/greece.csv"
file_hungary="data/hungary.csv"
file_italy="data/italy.csv"
file_latvia="data/latvia.csv"
file_lithuania="data/lithuania.csv"
file_malta="data/malta.csv"
file_netherlands="data/netherlands.csv"
file_newzealand="data/new_zealand.csv"
file_norway="data/norway.csv"
file_peru="data/peru.csv"
file_poland="data/poland.csv"
file_romania="data/romania.csv"
file_russia="data/russia.csv"
file_slovenia="data/slovenia.csv"
file_spain="data/spain.csv"
file_swiss="data/switzerland.csv"
file_turkey="data/turkey.csv"

country_names=["australia","austria","colombia","CR","croatia","estonia","finland","france","germany","greece","hungary",
               "italy","latvia","malta","netherlands","newzealand","norway","peru","poland","romania","russia","slovenia",
               "spain","switzerland","turkey"]

# Read File and store into Pandas data frame
australia = pd.read_csv(file_australia)
austria = pd.read_csv(file_austria)
colombia = pd.read_csv(file_colombia)
CR = pd.read_csv(file_CR)
croatia = pd.read_csv(file_croatia)
estonia = pd.read_csv(file_estonia)
finland = pd.read_csv(file_finland)
france = pd.read_csv(file_france)
germany = pd.read_csv(file_australia)
greece = pd.read_csv(file_greece)
hungary = pd.read_csv(file_hungary)
italy = pd.read_csv(file_italy)
latvia = pd.read_csv(file_latvia)
malta = pd.read_csv(file_malta)
netherlands = pd.read_csv(file_netherlands)
newzealand = pd.read_csv(file_newzealand)
norway = pd.read_csv(file_norway)
peru = pd.read_csv(file_peru)
poland = pd.read_csv(file_poland)
romania = pd.read_csv(file_romania)
russia = pd.read_csv(file_russia)
slovenia = pd.read_csv(file_slovenia)
spain = pd.read_csv(file_spain)
switzerland = pd.read_csv(file_swiss)
turkey = pd.read_csv(file_turkey)

In [84]:
#funtion to transform numbers
def number_list(list_i):
    var_def=list_i
    var_def=np.nan_to_num(var_def).tolist()
    
    for i in range(len(var_def)):
        element=var_def[i]
        try:
            new_element=float(element)
        except:
            if isinstance(element, int):
                new_element=float(element)
            elif isinstance(element, str):
                new_element=0
        
        var_def[i]
    
    var_def=[float(x) for x in var_def ]
    var_def=np.nan_to_num(var_def).tolist()
        
    return var_def

In [3]:
australia= australia.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [4]:
australia= australia.drop(columns=['Unnamed: 0'])
australia= australia.set_index('Domestic, inbound and outbound tourism')

In [5]:
australia

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,6724.5,7138.2,7852.9,8557.554,9071.7
Top markets,,,,,
China,773.7,936,1145.7,1259.1,1421.6
New Zealand,1226.5,1270.8,1325.2,1352.9,1371.3
United States,538.2,584.6,664.7,759.4,788
United Kingdom,671.2,667.1,703.7,726.4,742.1
Japan,330.7,332.7,380.4,428.5,442.3
Outbound tourism,,,,,
Total international departures,8986.7,9262.5,9665.3,10297.2,10759.4
Top destinations,,,,,
New Zealand,1185.6,1224.8,1292.6,1411.6,1419
Indonesia,1015.5,1125.6,1147.5,1222.9,1210.8
United States,970.2,999.4,1061.5,1086.2,1084.2
United Kingdom,564.3,570.9,600.6,610.9,643.7
Thailand,615.7,564.7,558.2,558.2,581.4

In [6]:
austria= austria.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [7]:
austria= austria.drop(columns=['Unnamed: 0'])
austria= austria.set_index('Domestic, inbound and outbound tourism')

In [8]:
austria

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,NaN,NaN,NaN,NaN,NaN
Top markets,,,,,
Germany,11750.027,12140.737,12986.055,13442.884,14092.157
Netherlands,1671.581,1735.184,1862.885,1934.724,2001.096
Switzerland and Liechtenstein,1309.66,1400.447,1446.447,1454.029,1445.342
Italy,1051.49,1122.97,1102.399,1102.081,1098.95
United Kingdom,802.552,875.776,919.623,941.512,995.677
Outbound tourism,,,,,
Total international departures,13543.603,13001.584,14245.862,14067.9,14628.193
Top destinations,,,,,
Italy,2032.914,1971.202,2177.651,2220.578,2330.031
Germany,2346.752,2296.832,2323.78,2189.432,2196.115
Croatia,1085.235,964.501,1416.323,1413.303,1352.57
Spain,576.282,592.232,627.857,620.4,615.238
Greece,380.398,351.783,368.657,374.949,420.064

In [9]:
colombia= colombia.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [10]:
colombia= colombia.drop(columns=['Unnamed: 0'])
colombia= colombia.set_index('Domestic, inbound and outbound tourism')

In [11]:
colombia

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,2865.988,3252.276,3559.471,3975.57,4281.851
Top markets,,,,,
United States,376.624,446.158,499.032,529.013,647.784
Venezuela,272.814,306.046,288.212,371.356,398.587
Argentina,118.368,125.558,135.157,185.891,197.707
Brazil,124.779,138.078,181.861,209.138,196.829
Ecuador,126.744,151.761,167.127,168.998,164.031
Outbound tourism,,,,,
Total international departures,3910.856,3861.508,3794.525,4016.597,4368.162
Top destinations,,,,,
United States,1234.907,1256.053,1290.62,1241.956,1383.457
Spain,196.309,221.086,318.56,361.638,426.751
Panama,416.29,406.628,408.681,424.053,403.586
Ecuador,347.55,319.991,286.428,300.54,299.704
Venezuela,522.562,371.521,109.593,174.332,164.555

In [12]:
CR= CR.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44])

In [13]:
CR= CR.drop(columns=['Unnamed: 0'])
CR= CR.set_index('Domestic, inbound and outbound tourism')

In [14]:
CR

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,2759.683,2899.257,3203.691,3230.388,3299.759
Top markets,,,,,
United States,997.262,1077.044,1233.277,1199.241,1265.067
Central America,716.645,709.102,724.638,735.178,691.386
Europe,370.482,393.115,434.884,462.295,480.102
Canada,172.73,175.771,188.104,201.921,217.006
South America,138.138,156.152,181.179,181.399,190.413
Outbound tourism,,,,,
Total international departures,NaN,NaN,NaN,NaN,NaN
Top destinations,,,,,
Central America,NaN,449.046,464.245,587.995,583.08
North America,NaN,307.789,382.063,370.825,375.637
Panama,NaN,195.267,193.353,240.983,300.967
United States,NaN,229.638,278.666,253.502,250.75
Nicaragua,NaN,187.682,189.069,220.054,141.178

In [15]:
croatia= croatia.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44,45])

In [16]:
croatia= croatia.drop(columns=['Unnamed: 0'])
croatia= croatia.set_index('Domestic, inbound and outbound tourism')

In [17]:
croatia

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,NaN,NaN,NaN,NaN,NaN
Top markets,,,,,
Germany,1988.993,2124.149,2277.378,2615.9,2783.513
Austria,1018.521,1119.709,1237.969,1331.215,1369.709
Slovenia,1101.552,1191.998,1298.501,1297.681,1364.252
Italy,1060.912,1111.428,1119.932,1110.219,1148.078
Czech Republic,661.486,696.151,688.953,741.757,755.104
Outbound tourism,,,,,
Total international departures,4638,4355,2581,2597,2980
Top destinations,,,,,
Bosnia and Herzegovina,523,404,283,325,390
Germany,308,261,278,211,326
Italy,257,452,203,210,213
Slovenia,314,183,144,165,171
Austria,304,258,169,213,166

In [18]:
estonia= estonia.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44,45])

In [19]:
estonia= estonia.drop(columns=['Unnamed: 0'])
estonia= estonia.set_index('Domestic, inbound and outbound tourism')

In [20]:
estonia

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism (1),,,,,
Total international arrivals,6193,5729,5964,6146.593,6032.823
Top markets,,,,,
Finland,916,1234,1280,1222.694,1145.376
Russian Federation,275,388,412,459.559,463.684
Latvia,113,246,265,291.852,297.878
Germany,113,211,221,220.203,245.408
Sweden,72,117,121,120.729,119.019
Outbound tourism,,,,,
Total international departures,3841,3596.252,3564.163,3605.597,3607.325
Top destinations,,,,,
Finland,576,565.753,574.411,561.124,519.78
Latvia,247,357.959,347.311,351.436,301.194
Russian Federation,233,213.538,218.808,219.689,254.581
Sweden,164,217.123,236.623,240.447,218.809
Germany,139,222.834,220.919,230.093,213.137

In [21]:
finland= finland.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [22]:
finland= finland.drop(columns=['Unnamed: 0'])
finland= finland.set_index('Domestic, inbound and outbound tourism')

In [23]:
finland

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,NaN,NaN,NaN,NaN,NaN
Top markets,,,,,
Russian Federation,615.116,351.721,306.794,382.114,377.633
Germany,248.308,266.397,268.081,297.446,304.387
United Kingdom,180.562,189.928,199.738,229.083,229.992
China,85.388,121.208,158.239,209.568,202.697
United States,93.469,95.319,107.823,125.726,139.138
Outbound tourism,,,,,
Total international departures,9780,10020,10280,10480,10480
Top destinations,,,,,
Sweden,1830,1630,1830,1680,1790
Estonia,2010,2090,2170,2070,1670
Spain,790,700,830,820,880
Germany,420,540,470,530,500
Russian Federation,310,310,390,340,300

In [24]:
france= france.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [25]:
france= france.drop(columns=['Unnamed: 0'])
france= france.set_index('Domestic, inbound and outbound tourism')

In [26]:
france

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,206599.139,203302.405,203042.247,207274.458,211997.551
Top markets,,,,,
United Kingdom,11750.812,12235.713,12019.067,12697.58,13007.825
Germany,12908.576,11477.642,11753.13,12256.164,12272.217
Belgium,9256.72,9614.081,9110.174,10448.372,10507.02
Italy,7358.179,7594.272,6992.289,6600.801,6963.211
Switzerland,6480.475,6010.089,6352.645,7013.236,6771.926
Outbound tourism,,,,,
Total international departures,31941.524,30607.599,29635.945125,44264.516415,44474.255362
Top destinations,,,,,
Spain,4182.23391,4430.195456,4205.934918999999,4428.815576,4526.149671
Italy,2948.492874,3174.681915,3027.309554,3192.24816,3311.1915400000003
Great Britain,1964.500869,1668.035751,1813.451262,1988.930449,1803.960402
Belgium,1824.457365,1822.268478,1613.1448870000002,1659.780544,1726.655961
Portugal,1139.737685,1243.114774,1397.158856,1554.832457,1626.6717409999999

In [27]:
germany= germany.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [28]:
germany= germany.drop(columns=['Unnamed: 0'])
germany= germany.set_index('Domestic, inbound and outbound tourism')

In [29]:
germany

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,6724.5,7138.2,7852.9,8557.554,9071.7
Top markets,,,,,
China,773.7,936,1145.7,1259.1,1421.6
New Zealand,1226.5,1270.8,1325.2,1352.9,1371.3
United States,538.2,584.6,664.7,759.4,788
United Kingdom,671.2,667.1,703.7,726.4,742.1
Japan,330.7,332.7,380.4,428.5,442.3
Outbound tourism,,,,,
Total international departures,8986.7,9262.5,9665.3,10297.2,10759.4
Top destinations,,,,,
New Zealand,1185.6,1224.8,1292.6,1411.6,1419
Indonesia,1015.5,1125.6,1147.5,1222.9,1210.8
United States,970.2,999.4,1061.5,1086.2,1084.2
United Kingdom,564.3,570.9,600.6,610.9,643.7
Thailand,615.7,564.7,558.2,558.2,581.4

In [30]:
greece= greece.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [31]:
greece= greece.drop(columns=['Unnamed: 0'])
greece= greece.set_index('Domestic, inbound and outbound tourism')

In [32]:
greece

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,24272.388,26114.228,28070.833,30161.033,33072.157
Top markets,,,,,
Germany,2459.228,2810.349,3138.735,3705.95,4381.448
Bulgaria,1534.656,1900.643,2522.804,2546.307,3135.327
United Kingdom,2089.529,2397.169,2894.655,3002.042,2942.763
Italy,1117.711,1355.329,1386.902,1441.298,1667.114
France,1463.159,1522.1,1313.536,1419.799,1524.001
Outbound tourism,,,,,
Total international departures,5802.2852,6291.0139,7234.5283,7685.308,7960.9848
Top destinations,,,,,
Bulgaria,750.622,1109.063,1556.803,2186.156,2370.92
Former Yugoslav Republic of Macedonia,1800.248,1979.124,1922.725,1786.857,1352.051
Turkey,715.603,652.15,802.687,809.888,967.166
Germany,468.852,399.964,443.904,420.761,499.629
Italy,291.976,297.234,363.858,350.823,404.968

In [33]:
hungary= hungary.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44])

In [34]:
hungary= hungary.drop(columns=['Unnamed: 0'])
hungary= hungary.set_index('Domestic, inbound and outbound tourism')

In [35]:
hungary

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism (1),,,,,
Total international arrivals,17253,20189,21444,22371.081,23893.078
Top markets,,,,,
Germany,1898,1899,1783,1865.053,2009.392
Romania,758,1583,2299,2075.918,1661.692
Austria,976,1088,997,1253.527,1391.472
Slovak Republic,1024,1533,1476,1561.73,1301.568
Czech Republic,748,792,833,861.731,821.588
Outbound tourism,,,,,
Total international departures,8933,9705,10168,10874,12419
Top destinations,,,,,
Germany,686,812,956,1007,899
Slovak Republic,476,642,674,769,876
Austria,741,818,848,897,808
Romania,437,619,793,705,774
Czech Republic,522,473,544,572,641

In [36]:
italy= italy.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [37]:
italy= italy.drop(columns=['Unnamed: 0'])
italy= italy.set_index('Domestic, inbound and outbound tourism')

In [38]:
italy

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,77694.032,81067.635,84924.545,89931.469,93228.621
Top markets,,,,,
Germany,9451.363,10016.011,11160.739,12450.676,13518.339
France,5358.176,6483.089,6394.403,7201.639,7640.667
United Kingdom,3767.868,4153.132,4355.87,4931.968,5658.509
Austria,3244.034,3416.98,3512.87,3689.608,4019.846
United States,2960.747,3159.385,2927.564,3361.169,3693.998
Outbound tourism,,,,,
Total international departures,55169.361469999996,57418.064,57479.628,60042.386963,61194.642534
Top destinations,,,,,
France,5411.058966,5769.2231090000005,5532.409331,5525.259621,5786.9583729999995
Spain,2365.435335,2526.0772620000002,2702.7584580000002,3120.435612,3566.726099
Germany,2286.653267,2281.269894,2587.39155,2768.985929,3048.410756
Austria,1420.4036389999999,1550.728466,2192.2707769999997,2219.120011,2190.568311
United Kingdom,1458.755923,1525.5620560000002,1777.000859,1738.793396,1606.132777

In [39]:
latvia= latvia.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42])

In [40]:
latvia= latvia.drop(columns=['Unnamed: 0'])
latvia= latvia.set_index('Domestic, inbound and outbound tourism')

In [41]:
latvia

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,6246,6841.685,6796.999,7725.814,7775.228
Top markets,,,,,
Lithuania,265.509,345.565,374.802,300.492,274.961
Germany,168.297,181.625,193.716,255.403,259.795
Russian Federation,347.581,279.126,222.357,243.011,243.875
Estonia,180.704,283.326,263.395,191.871,176.019
Sweden,161.771,116.438,73.256,78.565,90.873
Outbound tourism,,,,,
Total international departures,1846.44,1719.273,1938.524,2055.608,2175.695
Top destinations,,,,,
Estonia,95.076,168.417,209.976,173.381,206.32
Lithuania,133.856,171.482,212.525,153.7,156.905
Russian Federation,138.027,120.917,122.102,84.89,117.381
Sweden,86.209,74.923,64.831,79.646,99.879
Germany,94.904,71.338,84.006,147.843,79.511

In [42]:
malta= malta.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44,45])

In [43]:
malta= malta.drop(columns=['Unnamed: 0'])
malta= malta.set_index('Domestic, inbound and outbound tourism')

In [44]:
malta

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,2114.943,2313.15,2533.834,2840.312,3152.891
Top markets,,,,,
United Kingdom,487.714,525.996,559.987,560.893,640.57
Italy,262.631,282.815,315.223,363.668,390.607
Germany,143.053,141.855,156.786,193.033,226.962
France,125.511,127.953,144.804,176.371,213.299
Spain,42.285,47.237,55.023,75.511,99.046
Outbound tourism,,,,,
Total international departures,429.862038,473.922792,549.4186,632.069158,727.975856
Top destinations,,,,,
Italy,122.677978,136.64827499999998,165.55553400000002,181.053413,212.219473
United Kingdom,91.821625,89.266383,96.154106,105.812485,118.712233
Germany,21.928717,23.865519,32.301953000000005,38.431895,42.121335
Spain,17.895417000000002,19.407859000000002,23.066616000000003,27.905541,37.560137000000005
France,21.853342,20.945997,17.006282,21.510166,28.455472

In [45]:
netherlands= netherlands.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [46]:
netherlands= netherlands.drop(columns=['Unnamed: 0'])
netherlands= netherlands.set_index('Domestic, inbound and outbound tourism')

In [47]:
netherlands

                                        2014  2015  2016  2017  2018
Domestic, inbound and outbound tourism
Inbound tourism
Total international arrivals             NaN   NaN   NaN   NaN   NaN
Top markets
Germany                                 3894  4283  4615  5243  5689
Belgium                                 1828  1965  2132  2224  2398
United Kingdom                          1857  1967  2045  2229  2212
America                                 1431  1508  1646  2013  2072
Asia                                     NaN   NaN   NaN   NaN   NaN
Outbound tourism
Total international departures           NaN   NaN   NaN   NaN   NaN
Top destinations
Germany                                 3377  3375  3519  3782  3713
France                                  2606  2617  2550  2802  2873
Spain                                   1856  1969  2177  2696  2630
Belgium                                 1425  1430  1341  1638  1566
Italy                                    NaN   NaN  1175  1464  1425

In [48]:
newzealand= newzealand.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44,45])

In [49]:
newzealand= newzealand.drop(columns=['Unnamed: 0'])
newzealand= newzealand.set_index('Domestic, inbound and outbound tourism')

In [50]:
newzealand

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism (1),,,,,
Total international arrivals,2853.52,3129.312,3494.336,3723.344,3857.716
Top markets,,,,,
Australia,1210.256,1286.992,1351.456,1393.488,1413.013
China,263.312,353.168,404.064,412.24,441.85
United States,212.736,234.64,280.432,315.312,338.104
United Kingdom,191.584,200.928,216.864,244.336,232.111
Japan,79.648,85.472,98.544,98.288,96.468
Outbound tourism,,,,,
Total international departures,2275.88,2411.56,2611.02,2852.74,3020.007
Top destinations,,,,,
Australia,1091.22,1136.9,1176.14,1221.76,1205.404
United States,164.76,176.98,197,204.16,214.943
Fiji,130.08,145.98,159.54,178.18,191.614
China,76.86,85.98,101.18,121.08,132.416
United Kingdom,101.42,112.14,110,123.14,124.801

In [51]:
norway= norway.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44,45])

In [52]:
norway= norway.drop(columns=['Unnamed: 0'])
norway= norway.set_index('Domestic, inbound and outbound tourism')

In [53]:
norway

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,NaN,NaN,NaN,NaN,NaN
Top markets,,,,,
Germany,877.664,919.448,1094.912,893.563,1149.567
Sweden,610.669,612.457,679.035,678.256,622.587
United States,NaN,NaN,NaN,NaN,487.164
Netherlands,319.702,337.789,404.837,438.042,435.411
Denmark,374.477,376.054,401.763,405.909,370.535
Outbound tourism,,,,,
Total international departures,17339,16277,15733,16800,16520
Top destinations,,,,,
Sweden,1478,1535,1222,1363,1356
Spain,1234,1242,1290,1359,1169
Denmark,1127,937,825,742,882
United Kingdom,676,674,654,571,638
Germany,620,498,452,414,563

In [54]:
peru= peru.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44,45])

In [55]:
peru= peru.drop(columns=['Unnamed: 0'])
peru= peru.set_index('Domestic, inbound and outbound tourism')

In [56]:
peru

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism (1),,,,,
Total international arrivals,4061.747,4381.185,4718.052,4992.66,5384.658
Top markets,,,,,
Chile,903.793,984.584,1055.88,1101.055,1159.188
United States,514.227,545.212,586.479,598.685,641.28
Ecuador,223.995,256.127,318.172,288.987,293.231
Colombia,151.876,165.384,189.754,200.812,219.452
Argentina,155.931,170.96,175.488,205.465,216.041
Outbound tourism,,,,,
Total international departures,2733.343,2913.735,3094.491,3226.847,3435.065
Top destinations,,,,,
Chile,1091.195,1181.401,1288.121,1358.528,1373.257
United States,258.614,289.453,304.906,292.366,294.467
Bolivia,314.687,289.675,269.883,251.287,284.052
Spain,73.666,79.925,109.017,143.305,160.072
Ecuador,161.176,154.091,135.548,132.198,141.58

In [57]:
poland= poland.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43])

In [58]:
poland= poland.drop(columns=['Unnamed: 0'])
poland= poland.set_index('Domestic, inbound and outbound tourism')

In [59]:
poland

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,73750,77743,80476,83804,85947
Top markets,,,,,
Germany,5743,6012,6288,6504,6704
Ukraine,1072,1198,1265,1360,2038
Russian Federation,1003,873,801,875,919
United Kingdom,664,753,797,851,919
Belarus,811,801,715,763,793
Outbound tourism,,,,,
Total international departures,35353.285,44016.571,44494.222,46680.735,48615.002
Top destinations,,,,,
Germany,2060.809,2198.731,2310.056,2356.548,2438.093
Italy,826.608,879.011,936.111,999.935,1055.127
United Kingdom,872.396,855.532,915.243,970.504,1031.074
Czech Republic,495.055,584.704,654.987,725.347,761.949
Greece,NaN,NaN,NaN,NaN,751.58

In [60]:
romania= romania.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44,45])

In [61]:
romania= romania.drop(columns=['Unnamed: 0'])
romania= romania.set_index('Domestic, inbound and outbound tourism')

In [62]:
romania

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,NaN,NaN,NaN,NaN,NaN
Top markets,,,,,
Germany,234.451,266.934,281.704,324.371,326.241
Israel,139.425,219.307,251.908,292.752,277.468
Italy,184.514,211.201,233.787,241.398,240.155
France,123.779,134.468,145.584,167.163,170.635
United States,113.42,130.201,137.586,157.179,165.532
Outbound tourism,,,,,
Total international departures,11307.472,11152.558,9894.847,10446.302,10469.245
Top destinations,,,,,
Turkey,105.47,98.627,102.58,139.815,196.64
Bulgaria,85.523,110.558,132.515,139.183,163.568
Greece,105.752,136.812,136.469,162.545,161.26
Spain,55.576,59.735,64.775,56.347,71.204
Italy,37.37,47.117,52.384,52.369,68.745

In [63]:
russia= russia.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44])

In [64]:
russia= russia.drop(columns=['Unnamed: 0'])
russia= russia.set_index('Domestic, inbound and outbound tourism')

In [65]:
russia

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,25437.893,26851.658,24570.518,24390.002,24550.91
Top markets,,,,,
Ukraine,8435.654,8911.705,8569.264,8722.832,8202.273
Kazakhstan,3733.319,4711.082,3564.152,3484.687,3510.144
China,873.792,1121.536,1288.72,1478.212,1690.186
Finland,1380.179,1415.853,1319.03,1016.738,949.796
Azerbaijan,818.467,856.349,898.426,876.074,893.384
Outbound tourism,,,,,
Total international departures,NaN,NaN,NaN,NaN,NaN
Top destinations,,,,,
Turkey,4216.16626,3460.325476,797.304,4519.910698,5719.373
Finland,4283.323371,3066.657954,2894.3943569999997,3333.061544,3361.3894330000003
Kazakhstan,3330.126,3125.14,2849.526,2977.946,2954.888
Ukraine,2557.509,1656.624,1804.338,2282.997,2289.605
China,1730.618,1284.324,1676.214,2003.419,2018.226

In [66]:
slovenia= slovenia.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44])

In [67]:
slovenia= slovenia.drop(columns=['Unnamed: 0'])
slovenia= slovenia.set_index('Domestic, inbound and outbound tourism')

In [68]:
slovenia

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,NaN,NaN,NaN,NaN,NaN
Top markets,,,,,
Italy,479.612,526.873,572.584,608.363,598.825
Germany,277.008,314.095,342.339,436.545,506.081
Austria,284.752,304.441,335.962,372.904,381.709
Croatia,134.459,152.448,171.057,195.13,218.896
Netherlands,87.186,95.337,107.605,151.042,185.257
Outbound tourism,,,,,
Total international departures,4672,4909,5408,5410,5409
Top destinations,,,,,
Croatia,1494,1614,1660,1680,1732
Italy,157,217,152,208,236
Austria,162,189,149,171,204
Germany,117,109,103,168,191
Bosnia and Herzegovina,129,132,117,142,142

In [69]:
spain= spain.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,33,34,35,36,37,38,39,40,41,42,43,44])

In [70]:
spain= spain.drop(columns=['Unnamed: 0'])
spain= spain.set_index('Domestic, inbound and outbound tourism')

In [71]:
spain

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,107614.333,109833.674,115561.077,121717.286,124455.667
Top markets,,,,,
United Kingdom,15006.744,15764.034,17675.367,18806.776,18523.957
Germany,10422.055,10260.3,11208.656,11897.376,11414.955
France,10615.746,11503.609,11258.54,11267.269,11293.323
Nordic Countries,5044.539,5009.081,5129.025,5826.548,5803.535
Italy,3697.702,3907.288,3969.322,4222.865,4389.453
Outbound tourism,,,,,
Total international departures,13951.91542,15706.093,16144.499,17593.631,19750.466
Top destinations,,,,,
France,2123.701196,1835.837,2146.534,2461.681,2410.44
Portugal,1503.014125,1669.746,1650.105,2086.134,2281.792
Italy,1207.276313,1262.857,1450.755,1291.884,1859.573
United Kingdom,992.759771,1188.048,1299.357,1388.142,1465.069
Germany,688.463,891.04,804.012,803.045,947.6494570000001

In [72]:
switzerland= switzerland.drop([0,1,2,3,4,5,6,7,8,11,12,19,20,21,22,25,26,32,33,34,35,36,37,38,39,40,41,42,43,44])

In [73]:
switzerland= switzerland.drop(columns=['Unnamed: 0'])
switzerland= switzerland.set_index('Domestic, inbound and outbound tourism')

In [74]:
switzerland

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism,,,,,
Total international arrivals,NaN,NaN,NaN,NaN,NaN
Top markets,,,,,
Germany,1811.833,1616.251,2017.722,2072.112,2216.038
China,890.879,1209.674,982.249,1061.628,1134.799
United States,751.514,802.503,898.804,1009.002,1117.516
France,698.588,655.062,772.751,787.58,826.078
United Kingdom,711.595,709.925,800.102,807.905,820.179
Outbound tourism,,,,,
Total international departures,NaN,NaN,NaN,24594.15491,26397.333440000002
Top destinations,,,,,
Germany,2638.61005,2938.76882,2979.81925,2765.58075,3134.83517
Italy,2556.54716,2807.99681,2729.9376899999997,2868.27563,2964.0777599999997
France,2002.9365500000001,2244.10479,1912.55897,3213.1965499999997,2440.97588
Austria,1019.0184,1090.66261,960.1215500000001,1062.01223,1078.26939

In [75]:
turkey= turkey.drop([0,1,2,3,4,5,6,7,8,9,12,13,20,21,22,23,26,27,34,35,36,37,38,39,40,41,42,43,44,45])

In [76]:
turkey= turkey.drop(columns=['Unnamed: 0'])
turkey= turkey.set_index('Domestic, inbound and outbound tourism')

In [77]:
turkey

,2014,2015,2016,2017,2018
"Domestic, inbound and outbound tourism",,,,,
Inbound tourism (1),,,,,
Total international arrivals,41627,41114,30907,37970,46113
Top markets,,,,,
Russian Federation,4460,3633,857,4702,5954
Germany,5026,5356,3827,3518,4464
Bulgaria,1688,1817,1688,1850,2383
United Kingdom,2352,2266,1588,1604,2220
Georgia,1751,1907,2204,2434,2066
Outbound tourism,,,,,
Total international departures,7982,8751,7892,8887,8383
Top destinations,,,,,
Europe not specified,648.742,767.269,921.701,1104.725,1228.506
Iraq,1214.4071159999999,1400.610208,56.541646,580.662917,1013.871
Bulgaria,730.833618,782.3444910000001,938.809814,948.794732,986.817
Greece,911.6587539999999,1017.6491040000001,883.490602,1058.492948,883.847
Georgia,1255.967981,1163.978187,1187.078381,1015.8575699999999,777.781

In [78]:
countries=[australia,austria,colombia,CR,croatia,estonia,finland,france,germany,greece,hungary,italy,latvia,malta,
          netherlands,newzealand,norway,peru,poland,romania,russia,slovenia,spain,switzerland,turkey]

In [85]:
mylist=[]

country_index=0
for country in countries:
    
    years=list(country.columns)
    td_index=list(country.index).index('Top destinations')
    tm_index=list(country.index).index('Top markets')
    obt_index=list(country.index).index('Outbound tourism')
    

    tm_list=list(country.index)[tm_index+1:obt_index]
    td_list=list(country.index)[td_index+1:]

    top_destinations=dict([(i,[])for i in td_list])
    top_markets=dict([(str(i),[])for i in tm_list])
    
    inbound=list(country.loc["Total international arrivals"])
    outbound=list(country.loc["Total international departures"])
    
  
 

    for k, v in top_destinations.items():
        item_df=country.loc[k,:]
        if len(item_df.shape) > 1:
            temp=list(item_df.iloc[1])
        else: 
            temp=list(item_df)
        top_destinations[k]=number_list(temp)
  
    for k, v in top_markets.items():
        item_df=country.loc[k,:]
        if len(item_df.shape) > 1:
            temp=list(item_df.iloc[1])
        else: 
            temp=list(item_df)
        top_markets[k]=number_list(temp)

    finaldata={
        'name':country_names[country_index],
        'years':number_list(years),
        'inbound_tourism':number_list(inbound),
        'top_markets':top_markets,
        'outbound_tourism':number_list(outbound),
        'top_destinations':top_destinations    
    
    }
    country_index+=1

    mylist.append(finaldata)

In [86]:
mylist

[{'name': 'australia',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [6724.5, 7138.2, 7852.9, 8557.554, 9071.7],
  'top_markets': {'China': [773.7, 936.0, 1145.7, 1259.1, 1421.6],
   'New Zealand': [1185.6, 1224.8, 1292.6, 1411.6, 1419.0],
   'United States': [970.2, 999.4, 1061.5, 1086.2, 1084.2],
   'United Kingdom': [564.3, 570.9, 600.6, 610.9, 643.7],
   'Japan': [330.7, 332.7, 380.4, 428.5, 442.3]},
  'outbound_tourism': [8986.7, 9262.5, 9665.3, 10297.2, 10759.4],
  'top_destinations': {'New Zealand': [1185.6, 1224.8, 1292.6, 1411.6, 1419.0],
   'Indonesia': [1015.5, 1125.6, 1147.5, 1222.9, 1210.8],
   'United States': [970.2, 999.4, 1061.5, 1086.2, 1084.2],
   'United Kingdom': [564.3, 570.9, 600.6, 610.9, 643.7],
   'Thailand': [615.7, 564.7, 558.2, 558.2, 581.4]}},
 {'name': 'austria',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [0.0, 0.0, 0.0, 0.0, 0.0],
  'top_markets': {'Germany': [2346.752, 2296.832, 2323.78, 2189.432, 2196.115],
   'Netherlands': [1671.581, 1735.184, 1862.885, 1934.724, 2001.096],
   'Switzerland and Liechtenstein': [1309.66,
    1400.447,
    1446.447,
    1454.029,
    1445.342],
   'Italy': [2032.914, 1971.202, 2177.651, 2220.578, 2330.031],
   'United Kingdom': [802.552, 875.776, 919.623, 941.512, 995.677]},
  'outbound_tourism': [13543.603, 13001.584, 14245.862, 14067.9, 14628.193],
  'top_destinations': {'Italy': [2032.914,
    1971.202,
    2177.651,
    2220.578,
    2330.031],
   'Germany': [2346.752, 2296.832, 2323.78, 2189.432, 2196.115],
   'Croatia': [1085.235, 964.501, 1416.323, 1413.303, 1352.57],
   'Spain': [576.282, 592.232, 627.857, 620.4, 615.238],
   'Greece': [380.398, 351.783, 368.657, 374.949, 420.064]}},
 {'name': 'colombia',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [2865.988, 3252.276, 3559.471, 3975.57, 4281.851],
  'top_markets': {'United States': [1234.907,
    1256.053,
    1290.62,
    1241.956,
    1383.457],
   'Venezuela': [522.562, 371.521, 109.593, 174.332, 164.555],
   'Argentina': [118.368, 125.558, 135.157, 185.891, 197.707],
   'Brazil': [124.779, 138.078, 181.861, 209.138, 196.829],
   'Ecuador': [347.55, 319.991, 286.428, 300.54, 299.704]},
  'outbound_tourism': [3910.856, 3861.508, 3794.525, 4016.597, 4368.162],
  'top_destinations': {'United States': [1234.907,
    1256.053,
    1290.62,
    1241.956,
    1383.457],
   'Spain': [196.309, 221.086, 318.56, 361.638, 426.751],
   'Panama': [416.29, 406.628, 408.681, 424.053, 403.586],
   'Ecuador': [347.55, 319.991, 286.428, 300.54, 299.704],
   'Venezuela': [522.562, 371.521, 109.593, 174.332, 164.555]}},
 {'name': 'CR',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [2759.683, 2899.257, 3203.691, 3230.388, 3299.759],
  'top_markets': {'United States': [0.0, 229.638, 278.666, 253.502, 250.75],
   'Central America': [0.0, 449.046, 464.245, 587.995, 583.08],
   'Europe': [370.482, 393.115, 434.884, 462.295, 480.102],
   'Canada': [172.73, 175.771, 188.104, 201.921, 217.006],
   'South America': [138.138, 156.152, 181.179, 181.399, 190.413]},
  'outbound_tourism': [0.0, 0.0, 0.0, 0.0, 0.0],
  'top_destinations': {'Central America': [0.0,
    449.046,
    464.245,
    587.995,
    583.08],
   'North America': [0.0, 307.789, 382.063, 370.825, 375.637],
   'Panama': [0.0, 195.267, 193.353, 240.983, 300.967],
   'United States': [0.0, 229.638, 278.666, 253.502, 250.75],
   'Nicaragua': [0.0, 187.682, 189.069, 220.054, 141.178]}},
 {'name': 'croatia',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [0.0, 0.0, 0.0, 0.0, 0.0],
  'top_markets': {'Germany': [308.0, 261.0, 278.0, 211.0, 326.0],
   'Austria': [304.0, 258.0, 169.0, 213.0, 166.0],
   'Slovenia': [314.0, 183.0, 144.0, 165.0, 171.0],
   'Italy': [257.0, 452.0, 203.0, 210.0, 213.0],
   'Czech Republic': [661.486, 696.151, 688.953, 741.757, 755.104]},
  'outbound_tourism': [4638.0, 4355.0, 2581.0, 2597.0, 2980.0],
  'top_destinations': {'Bosnia and Herzegovina': [523.0,
    404.0,
    283.0,
    325.0,
    390.0],
   'Germany': [308.0, 261.0, 278.0, 211.0, 326.0],
   'Italy': [257.0, 452.0, 203.0, 210.0, 213.0],
   'Slovenia': [314.0, 183.0, 144.0, 165.0, 171.0],
   'Austria': [304.0, 258.0, 169.0, 213.0, 166.0]}},
 {'name': 'estonia',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [6193.0, 5729.0, 5964.0, 6146.593, 6032.823],
  'top_markets': {'Finland': [576.0, 565.753, 574.411, 561.124, 519.78],
   'Russian Federation': [233.0, 213.538, 218.808, 219.689, 254.581],
   'Latvia': [247.0, 357.959, 347.311, 351.436, 301.194],
   'Germany': [139.0, 222.834, 220.919, 230.093, 213.137],
   'Sweden': [164.0, 217.123, 236.623, 240.447, 218.809]},
  'outbound_tourism': [3841.0, 3596.252, 3564.163, 3605.597, 3607.325],
  'top_destinations': {'Finland': [576.0, 565.753, 574.411, 561.124, 519.78],
   'Latvia': [247.0, 357.959, 347.311, 351.436, 301.194],
   'Russian Federation': [233.0, 213.538, 218.808, 219.689, 254.581],
   'Sweden': [164.0, 217.123, 236.623, 240.447, 218.809],
   'Germany': [139.0, 222.834, 220.919, 230.093, 213.137]}},
 {'name': 'finland',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [0.0, 0.0, 0.0, 0.0, 0.0],
  'top_markets': {'Russian Federation': [310.0, 310.0, 390.0, 340.0, 300.0],
   'Germany': [420.0, 540.0, 470.0, 530.0, 500.0],
   'United Kingdom': [180.562, 189.928, 199.738, 229.083, 229.992],
   'China': [85.388, 121.208, 158.239, 209.568, 202.697],
   'United States': [93.469, 95.319, 107.823, 125.726, 139.138]},
  'outbound_tourism': [9780.0, 10020.0, 10280.0, 10480.0, 10480.0],
  'top_destinations': {'Sweden': [1830.0, 1630.0, 1830.0, 1680.0, 1790.0],
   'Estonia': [2010.0, 2090.0, 2170.0, 2070.0, 1670.0],
   'Spain': [790.0, 700.0, 830.0, 820.0, 880.0],
   'Germany': [420.0, 540.0, 470.0, 530.0, 500.0],
   'Russian Federation': [310.0, 310.0, 390.0, 340.0, 300.0]}},
 {'name': 'france',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [206599.139,
   203302.405,
   203042.247,
   207274.458,
   211997.551],
  'top_markets': {'United Kingdom': [11750.812,
    12235.713,
    12019.067,
    12697.58,
    13007.825],
   'Germany': [12908.576, 11477.642, 11753.13, 12256.164, 12272.217],
   'Belgium': [1824.457365,
    1822.268478,
    1613.1448870000002,
    1659.780544,
    1726.655961],
   'Italy': [2948.492874,
    3174.681915,
    3027.309554,
    3192.24816,
    3311.1915400000003],
   'Switzerland': [6480.475, 6010.089, 6352.645, 7013.236, 6771.926]},
  'outbound_tourism': [31941.524,
   30607.599,
   29635.945125,
   44264.516415,
   44474.255362],
  'top_destinations': {'Spain': [4182.23391,
    4430.195456,
    4205.934918999999,
    4428.815576,
    4526.149671],
   'Italy': [2948.492874,
    3174.681915,
    3027.309554,
    3192.24816,
    3311.1915400000003],
   'Great Britain': [1964.500869,
    1668.035751,
    1813.451262,
    1988.930449,
    1803.960402],
   'Belgium': [1824.457365,
    1822.268478,
    1613.1448870000002,
    1659.780544,
    1726.655961],
   'Portugal': [1139.737685,
    1243.114774,
    1397.158856,
    1554.832457,
    1626.6717409999999]}},
 {'name': 'germany',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [6724.5, 7138.2, 7852.9, 8557.554, 9071.7],
  'top_markets': {'China': [773.7, 936.0, 1145.7, 1259.1, 1421.6],
   'New Zealand': [1185.6, 1224.8, 1292.6, 1411.6, 1419.0],
   'United States': [970.2, 999.4, 1061.5, 1086.2, 1084.2],
   'United Kingdom': [564.3, 570.9, 600.6, 610.9, 643.7],
   'Japan': [330.7, 332.7, 380.4, 428.5, 442.3]},
  'outbound_tourism': [8986.7, 9262.5, 9665.3, 10297.2, 10759.4],
  'top_destinations': {'New Zealand': [1185.6, 1224.8, 1292.6, 1411.6, 1419.0],
   'Indonesia': [1015.5, 1125.6, 1147.5, 1222.9, 1210.8],
   'United States': [970.2, 999.4, 1061.5, 1086.2, 1084.2],
   'United Kingdom': [564.3, 570.9, 600.6, 610.9, 643.7],
   'Thailand': [615.7, 564.7, 558.2, 558.2, 581.4]}},
 {'name': 'greece',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [24272.388, 26114.228, 28070.833, 30161.033, 33072.157],
  'top_markets': {'Germany': [468.852, 399.964, 443.904, 420.761, 499.629],
   'Bulgaria': [750.622, 1109.063, 1556.803, 2186.156, 2370.92],
   'United Kingdom': [2089.529, 2397.169, 2894.655, 3002.042, 2942.763],
   'Italy': [291.976, 297.234, 363.858, 350.823, 404.968],
   'France': [1463.159, 1522.1, 1313.536, 1419.799, 1524.001]},
  'outbound_tourism': [5802.2852, 6291.0139, 7234.5283, 7685.308, 7960.9848],
  'top_destinations': {'Bulgaria': [750.622,
    1109.063,
    1556.803,
    2186.156,
    2370.92],
   'Former Yugoslav Republic of Macedonia': [1800.248,
    1979.124,
    1922.725,
    1786.857,
    1352.051],
   'Turkey': [715.603, 652.15, 802.687, 809.888, 967.166],
   'Germany': [468.852, 399.964, 443.904, 420.761, 499.629],
   'Italy': [291.976, 297.234, 363.858, 350.823, 404.968]}},
 {'name': 'hungary',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [17253.0, 20189.0, 21444.0, 22371.081, 23893.078],
  'top_markets': {'Germany': [686.0, 812.0, 956.0, 1007.0, 899.0],
   'Romania': [437.0, 619.0, 793.0, 705.0, 774.0],
   'Austria': [741.0, 818.0, 848.0, 897.0, 808.0],
   'Slovak Republic': [476.0, 642.0, 674.0, 769.0, 876.0],
   'Czech Republic': [522.0, 473.0, 544.0, 572.0, 641.0]},
  'outbound_tourism': [8933.0, 9705.0, 10168.0, 10874.0, 12419.0],
  'top_destinations': {'Germany': [686.0, 812.0, 956.0, 1007.0, 899.0],
   'Slovak Republic': [476.0, 642.0, 674.0, 769.0, 876.0],
   'Austria': [741.0, 818.0, 848.0, 897.0, 808.0],
   'Romania': [437.0, 619.0, 793.0, 705.0, 774.0],
   'Czech Republic': [522.0, 473.0, 544.0, 572.0, 641.0]}},
 {'name': 'italy',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [77694.032, 81067.635, 84924.545, 89931.469, 93228.621],
  'top_markets': {'Germany': [2286.653267,
    2281.269894,
    2587.39155,
    2768.985929,
    3048.410756],
   'France': [5411.058966,
    5769.2231090000005,
    5532.409331,
    5525.259621,
    5786.9583729999995],
   'United Kingdom': [1458.755923,
    1525.5620560000002,
    1777.000859,
    1738.793396,
    1606.132777],
   'Austria': [1420.4036389999999,
    1550.728466,
    2192.2707769999997,
    2219.120011,
    2190.568311],
   'United States': [2960.747, 3159.385, 2927.564, 3361.169, 3693.998]},
  'outbound_tourism': [55169.361469999996,
   57418.064,
   57479.628,
   60042.386963,
   61194.642534],
  'top_destinations': {'France': [5411.058966,
    5769.2231090000005,
    5532.409331,
    5525.259621,
    5786.9583729999995],
   'Spain': [2365.435335,
    2526.0772620000002,
    2702.7584580000002,
    3120.435612,
    3566.726099],
   'Germany': [2286.653267, 2281.269894, 2587.39155, 2768.985929, 3048.410756],
   'Austria': [1420.4036389999999,
    1550.728466,
    2192.2707769999997,
    2219.120011,
    2190.568311],
   'United Kingdom': [1458.755923,
    1525.5620560000002,
    1777.000859,
    1738.793396,
    1606.132777]}},
 {'name': 'latvia',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [6246.0, 6841.685, 6796.999, 7725.814, 7775.228],
  'top_markets': {'Lithuania': [133.856, 171.482, 212.525, 153.7, 156.905],
   'Germany': [94.904, 71.338, 84.006, 147.843, 79.511],
   'Russian Federation': [138.027, 120.917, 122.102, 84.89, 117.381],
   'Estonia': [95.076, 168.417, 209.976, 173.381, 206.32],
   'Sweden': [86.209, 74.923, 64.831, 79.646, 99.879]},
  'outbound_tourism': [1846.44, 1719.273, 1938.524, 2055.608, 2175.695],
  'top_destinations': {'Estonia': [95.076, 168.417, 209.976, 173.381, 206.32],
   'Lithuania': [133.856, 171.482, 212.525, 153.7, 156.905],
   'Russian Federation': [138.027, 120.917, 122.102, 84.89, 117.381],
   'Sweden': [86.209, 74.923, 64.831, 79.646, 99.879],
   'Germany': [94.904, 71.338, 84.006, 147.843, 79.511]}},
 {'name': 'malta',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [2114.943, 2313.15, 2533.834, 2840.312, 3152.891],
  'top_markets': {'United Kingdom': [91.821625,
    89.266383,
    96.154106,
    105.812485,
    118.712233],
   'Italy': [122.677978,
    136.64827499999998,
    165.55553400000002,
    181.053413,
    212.219473],
   'Germany': [21.928717, 23.865519, 32.301953000000005, 38.431895, 42.121335],
   'France': [21.853342, 20.945997, 17.006282, 21.510166, 28.455472],
   'Spain': [17.895417000000002,
    19.407859000000002,
    23.066616000000003,
    27.905541,
    37.560137000000005]},
  'outbound_tourism': [429.862038,
   473.922792,
   549.4186,
   632.069158,
   727.975856],
  'top_destinations': {'Italy': [122.677978,
    136.64827499999998,
    165.55553400000002,
    181.053413,
    212.219473],
   'United Kingdom': [91.821625, 89.266383, 96.154106, 105.812485, 118.712233],
   'Germany': [21.928717, 23.865519, 32.301953000000005, 38.431895, 42.121335],
   'Spain': [17.895417000000002,
    19.407859000000002,
    23.066616000000003,
    27.905541,
    37.560137000000005],
   'France': [21.853342, 20.945997, 17.006282, 21.510166, 28.455472]}},
 {'name': 'netherlands',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [0.0, 0.0, 0.0, 0.0, 0.0],
  'top_markets': {'Germany': [3377.0, 3375.0, 3519.0, 3782.0, 3713.0],
   'Belgium': [1425.0, 1430.0, 1341.0, 1638.0, 1566.0],
   'United Kingdom': [1857.0, 1967.0, 2045.0, 2229.0, 2212.0],
   'America': [1431.0, 1508.0, 1646.0, 2013.0, 2072.0],
   'Asia': [0.0, 0.0, 0.0, 0.0, 0.0]},
  'outbound_tourism': [0.0, 0.0, 0.0, 0.0, 0.0],
  'top_destinations': {'Germany': [3377.0, 3375.0, 3519.0, 3782.0, 3713.0],
   'France': [2606.0, 2617.0, 2550.0, 2802.0, 2873.0],
   'Spain': [1856.0, 1969.0, 2177.0, 2696.0, 2630.0],
   'Belgium': [1425.0, 1430.0, 1341.0, 1638.0, 1566.0],
   'Italy': [0.0, 0.0, 1175.0, 1464.0, 1425.0]}},
 {'name': 'newzealand',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [2853.52, 3129.312, 3494.336, 3723.344, 3857.716],
  'top_markets': {'Australia': [1091.22, 1136.9, 1176.14, 1221.76, 1205.404],
   'China': [76.86, 85.98, 101.18, 121.08, 132.416],
   'United States': [164.76, 176.98, 197.0, 204.16, 214.943],
   'United Kingdom': [101.42, 112.14, 110.0, 123.14, 124.801],
   'Japan': [79.648, 85.472, 98.544, 98.288, 96.468]},
  'outbound_tourism': [2275.88, 2411.56, 2611.02, 2852.74, 3020.007],
  'top_destinations': {'Australia': [1091.22,
    1136.9,
    1176.14,
    1221.76,
    1205.404],
   'United States': [164.76, 176.98, 197.0, 204.16, 214.943],
   'Fiji': [130.08, 145.98, 159.54, 178.18, 191.614],
   'China': [76.86, 85.98, 101.18, 121.08, 132.416],
   'United Kingdom': [101.42, 112.14, 110.0, 123.14, 124.801]}},
 {'name': 'norway',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [0.0, 0.0, 0.0, 0.0, 0.0],
  'top_markets': {'Germany': [620.0, 498.0, 452.0, 414.0, 563.0],
   'Sweden': [1478.0, 1535.0, 1222.0, 1363.0, 1356.0],
   'United States': [0.0, 0.0, 0.0, 0.0, 487.164],
   'Netherlands': [319.702, 337.789, 404.837, 438.042, 435.411],
   'Denmark': [1127.0, 937.0, 825.0, 742.0, 882.0]},
  'outbound_tourism': [17339.0, 16277.0, 15733.0, 16800.0, 16520.0],
  'top_destinations': {'Sweden': [1478.0, 1535.0, 1222.0, 1363.0, 1356.0],
   'Spain': [1234.0, 1242.0, 1290.0, 1359.0, 1169.0],
   'Denmark': [1127.0, 937.0, 825.0, 742.0, 882.0],
   'United Kingdom': [676.0, 674.0, 654.0, 571.0, 638.0],
   'Germany': [620.0, 498.0, 452.0, 414.0, 563.0]}},
 {'name': 'peru',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [4061.747, 4381.185, 4718.052, 4992.66, 5384.658],
  'top_markets': {'Chile': [1091.195, 1181.401, 1288.121, 1358.528, 1373.257],
   'United States': [258.614, 289.453, 304.906, 292.366, 294.467],
   'Ecuador': [161.176, 154.091, 135.548, 132.198, 141.58],
   'Colombia': [151.876, 165.384, 189.754, 200.812, 219.452],
   'Argentina': [155.931, 170.96, 175.488, 205.465, 216.041]},
  'outbound_tourism': [2733.343, 2913.735, 3094.491, 3226.847, 3435.065],
  'top_destinations': {'Chile': [1091.195,
    1181.401,
    1288.121,
    1358.528,
    1373.257],
   'United States': [258.614, 289.453, 304.906, 292.366, 294.467],
   'Bolivia': [314.687, 289.675, 269.883, 251.287, 284.052],
   'Spain': [73.666, 79.925, 109.017, 143.305, 160.072],
   'Ecuador': [161.176, 154.091, 135.548, 132.198, 141.58]}},
 {'name': 'poland',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [73750.0, 77743.0, 80476.0, 83804.0, 85947.0],
  'top_markets': {'Germany': [2060.809,
    2198.731,
    2310.056,
    2356.548,
    2438.093],
   'Ukraine': [1072.0, 1198.0, 1265.0, 1360.0, 2038.0],
   'Russian Federation': [1003.0, 873.0, 801.0, 875.0, 919.0],
   'United Kingdom': [872.396, 855.532, 915.243, 970.504, 1031.074],
   'Belarus': [811.0, 801.0, 715.0, 763.0, 793.0]},
  'outbound_tourism': [35353.285, 44016.571, 44494.222, 46680.735, 48615.002],
  'top_destinations': {'Germany': [2060.809,
    2198.731,
    2310.056,
    2356.548,
    2438.093],
   'Italy': [826.608, 879.011, 936.111, 999.935, 1055.127],
   'United Kingdom': [872.396, 855.532, 915.243, 970.504, 1031.074],
   'Czech Republic': [495.055, 584.704, 654.987, 725.347, 761.949],
   'Greece': [0.0, 0.0, 0.0, 0.0, 751.58]}},
 {'name': 'romania',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [0.0, 0.0, 0.0, 0.0, 0.0],
  'top_markets': {'Germany': [234.451, 266.934, 281.704, 324.371, 326.241],
   'Israel': [139.425, 219.307, 251.908, 292.752, 277.468],
   'Italy': [37.37, 47.117, 52.384, 52.369, 68.745],
   'France': [123.779, 134.468, 145.584, 167.163, 170.635],
   'United States': [113.42, 130.201, 137.586, 157.179, 165.532]},
  'outbound_tourism': [11307.472, 11152.558, 9894.847, 10446.302, 10469.245],
  'top_destinations': {'Turkey': [105.47, 98.627, 102.58, 139.815, 196.64],
   'Bulgaria': [85.523, 110.558, 132.515, 139.183, 163.568],
   'Greece': [105.752, 136.812, 136.469, 162.545, 161.26],
   'Spain': [55.576, 59.735, 64.775, 56.347, 71.204],
   'Italy': [37.37, 47.117, 52.384, 52.369, 68.745]}},
 {'name': 'russia',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [25437.893, 26851.658, 24570.518, 24390.002, 24550.91],
  'top_markets': {'Ukraine': [2557.509,
    1656.624,
    1804.338,
    2282.997,
    2289.605],
   'Kazakhstan': [3330.126, 3125.14, 2849.526, 2977.946, 2954.888],
   'China': [1730.618, 1284.324, 1676.214, 2003.419, 2018.226],
   'Finland': [4283.323371,
    3066.657954,
    2894.3943569999997,
    3333.061544,
    3361.3894330000003],
   'Azerbaijan': [818.467, 856.349, 898.426, 876.074, 893.384]},
  'outbound_tourism': [0.0, 0.0, 0.0, 0.0, 0.0],
  'top_destinations': {'Turkey': [4216.16626,
    3460.325476,
    797.304,
    4519.910698,
    5719.373],
   'Finland': [4283.323371,
    3066.657954,
    2894.3943569999997,
    3333.061544,
    3361.3894330000003],
   'Kazakhstan': [3330.126, 3125.14, 2849.526, 2977.946, 2954.888],
   'Ukraine': [2557.509, 1656.624, 1804.338, 2282.997, 2289.605],
   'China': [1730.618, 1284.324, 1676.214, 2003.419, 2018.226]}},
 {'name': 'slovenia',
  'years': [2014.0, 2015.0, 2016.0, 2017.0, 2018.0],
  'inbound_tourism': [0.0, 0.0, 0.0, 0.0, 0.0],
  'top_markets': {'Italy': [157.0, 217.0, 152.0, 208.0, 236.0],
   'Germany': [117.0, 109.0, 103.0, 168.0, 191.0],
   'Austria': [162.0, 189.0, 149.0, 171.0, 204.0],
   'Croatia': [1494.0, 1614.0, 1660.0, 1680.0, 1732.0],
   'Netherlands': [87.186, 95.337, 107.605, 151.042, 185.257]},
  'outbound_tourism': [4672.0, 4909.0, 5408.0, 5410.0, 5409.0],
  'top_destinations': {'Croatia': [1494.0, 1614.0, 1660.0, 1680.0, 1732.0],
   'Italy': [157.0, 217.0, 152.0, 208.0, 236.0],
   'Austria': [162.0, 189.0, 149.0, 171.0, 204.0],
   'Germany': [117.0, 109.0, 103.0, 168.0, 191.0],
   'Bosnia and Herzegovina': [129.0, 132.0, 117.0, 142.0, 142.0]}},
 {'name': 'spain',

In [82]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.tourismdb

In [83]:
for item in mylist:
    db.tourismdb.insert_one(item)